.new-restaurant {
  border: 2px solid deeppink;
  text-align: center;
  width: 60%;
  margin: 10px auto;
}

.atmospheres, .attributes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.atmospheres {
  justify-content: center;
}

.attributes {
  justify-content: flex-start;
}

.new-restaurant > label {
  text-align: left;
  display: block;
  margin: 20px;
}