<div class="new-restaurant">
  <h3>
    Add a new restaurant
  </h3>

  <label>Name:
    <input #restaurantName
           [(ngModel)]="restaurant.name" />
  </label>

  <label>Price:
    <select #restaurantPrice
            [(ngModel)]="restaurant.price">
      <option>1</option>
      <option>2</option>
      <option>3</option>
    </select>
  </label>

  <label>Attributes:
    <div class="attributes">
      <div *ngFor="let attr of ATTRIBUTES">
        <input type="checkbox" /> {{attr}}
      </div>
    </div>
  </label>

  <label>Atmosphere:
    <div class="atmospheres">
      <div *ngFor="let atmos of ATMOSPHERES">
        <input type="hidden"
               name="atmos"
               [(ngModel)]="restaurant.atmosphere" />
        <label for="atmos" [innerHtml]="atmos"></label>
      </div>
    </div>
  </label>

  <label>Notes:
    <textarea [(ngModel)]="restaurant.notes">
    </textarea>
  </label>

  <button (click)="save(restaurant)">Save</button>
</div>
