<div class="restaurant-detail-container" *ngIf="restaurant" (click)="onSelect(restaurant)">
  <div class="flex horizontal space-between align-center">
    <h2 class="restaurant-name"
        [class.haventTriedYet]="restaurant.haventTriedYet">
      {{restaurant.name}}
    </h2>
    <span class="restaurant-atmosphere" [innerHtml]="restaurant.atmosphere"></span>
  </div>
  <div class="restaurant-details" *ngIf="isSelected">
    <div class="restaurant-details--attributes" *ngIf="hasAttributes">
      <h3>Attributes</h3>
      <ul>
        <li *ngFor="let attr of restaurant.attributes">{{attr}}</li>
      </ul>
    </div>
    <div class="restaurant-details--notes" *ngIf="hasNotes">
      <h3>Notes</h3>
      <p>{{restaurant.notes}}</p>
    </div>
  </div>
</div>