.restaurant-detail-container {
  padding: 0 20px;
}

.restaurants {
  border: 2px solid deeppink;
}

.restaurant {
  border-bottom: 1px dotted deeppink;
}

.restaurant-details--attributes > ul,
.restaurant-details--notes > p {
  text-align: left;
}

.restaurant-details--attributes > h3,
.restaurant-details--notes > h3 {
  margin-bottom: -20px;
}

.haventTriedYet {
  color: forestgreen;
  font-style: italic;
}